.content {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}



@media screen and (max-width: 549px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom; 
  }
  #homedec{
    font-size: 20px;
  }
  .stage{display:none;}
  .nav {
    z-index: 10;
    background-color: #63759d;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-500px, 0);
    transform: translate(-500px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
    position: fixed;
    z-index:9999;
  }
  .iconbig{display:none;}
  #green, #red, #blue, #purple {
    position: absolute;
    cursor: pointer;
    margin-left: 150px;
   /* margin-right: auto;*/
    box-shadow: 0px 15px 30px rgba(0,0,0,0.4);
    width: 200px;
    height: 200px;
  }
  #ts{
  
  font-weight: 50;
  font-size: 20px;
  padding-top:20px;
  padding-bottom: 30px;
  }
  .skillsTop {
  float: left;
  /*clear: right;*/

  width: 20%;
  margin: 5px;
  text-align: left;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  }
  #nav li a { color: black; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; }
 #nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
 #nav li a:hover { color: #fff; opacity:1;  }
  #green {
  background: url('../img/min-img1.png');}
#red {
  background: url('../img/min-img2.png');}
#blue {
  background: url('../img/min-img3.png');}

#purple {
 background: url('../img/min-img4.png');}
  
  #skills{
  height: 650px;
 }
  #home{
    height: 650px;}
    .skills {
    float: left;
    clear: right;
    width: 100%;
    margin: 2px 0px 3px 3px;
}
  #work{padding-top: 0px;}
  img{
  width: 300px;
  height:270px;
  -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#workdec{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding-left: 10px;
  padding-top:50px;
  
  

}
}
@media screen and (min-width: 550px) {
  
  .iconsmall{display:none;}
  #green, #red, #blue, #purple {
    position: absolute;
    cursor: pointer;
    margin-left: 200px;
    margin-right: auto;
    box-shadow: 0px 15px 50px rgba(0,0,0,0.4);
    width: 200px;
    height: 200px;
  }
  #green {
  background: url('../img/min-img1.png');}
  #red {
  background: url('../img/min-img2.png');}
  #blue {
  background: url('../img/min-img3.png');}

  #purple {
  background: url('../img/min-img4.png');}
  #ts{
  
  font-weight: 100;
  font-size: 35px;
  padding-top:50px;
  padding-bottom: 30px;
  }
  .skillsTop {
  float: left;
  /*clear: right;*/
  
  width: 20%;
  margin: 5px;
  text-align: left;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  }

  
 #skills{
  height: 700px;
 }
 .skills {
  float: left;
  clear: right;
  width: 100%;
  margin: 50px 0px 30px 30px;
  }
 
 
}
@media screen and (min-width: 700px) {
  .nav{padding-right: 50px;}
  .iconsmall{display:none;}
  .header__title {padding-left: 50px;
    z-index: 9999;}
  #green, #red, #blue, #purple {
    position: absolute;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 15px 50px rgba(0,0,0,0.4);
    width: 550px;
    height: 500px;
  }
  #workdec{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding-left: 100px;
  padding-top:50px;
  
  

}
  #ts{
  
  font-weight:200;
  font-size: 35px;
  padding-top:100px;
  padding-bottom: 30px;
  }
  .skillsTop {
  float: left;
  /*clear: right;*/
  
  width: 15%;
  margin: 5px;
  margin-left: 15px;
  text-align: left;
  
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  }
 
  #green {

  background: url('../img/img1.png');}
 #red {
  background: url('../img/img2.png');}
 #blue {
  background: url('../img/img3.png');}

 #purple {
 background: url('../img/img4.png');}
 #home{
    height: 1000px;}
    img{
  width: 400px;
  height:270px;
  -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
    
  
}
@media screen and (min-width: 850px) {
  main, .header__inner, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;}
    .iconsmall{display:none;}
    .nav{
      
      margin-right: 70px;
    }
   
    #green, #red, #blue, #purple {
    position: absolute;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 15px 50px rgba(0,0,0,0.4);
    width: 550px;
    height: 550px;
  }
    
  #skills{
  height: 1000px;
  }


}
  
  